.divisao {
	margin-top: 4rem;
}
body {
	background-color: #eaeaea;
}
.navbar {
	background-color: #68deae !important;
}
.card-header {
    background-color: rgba(23, 162, 184, 0.66);
    color: white;
}